__pycache__/*
*.pyc
*.pyo
*.egg-info/
*.egg
build/
dist/
.pybuild/
debian/nowplaying-sdl/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.log
debian/*.substvars
debian/nowplaying-sdl.postinst.debhelper
debian/nowplaying-sdl.prerm.debhelper
debian/nowplaying-sdl.postrm.debhelper
